################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lab1_ai/.vs/AI.Lab1/FileContentIndex
/Lab4_ai/.vs/AI.Lab4
/Lab5_ai/.vs/AI.lab5/FileContentIndex
