################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lab1_ai/.vs/AI.Lab1/FileContentIndex
